@charset "utf-8";
a {
color: #399;
}

a:hover {
color: #C69;
}
a:visited {
color: #699;
}

body {
font: 14px/1.6 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
color: #666;
text-align: center;
} 

input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 40px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 40px;
		width: 40px;
}